.bContainer {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.bVideoContainer {
	position: relative;
}

.bVideo__eControls {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 1;
}

.bSection {
	top: 0;
	left: 0;
	position: absolute;
}

.bSection__mFirst {
	position: relative;
}

.bControl {
	top: 510px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	position: absolute;
	display: none;
	z-index: 1;
}

#loading {
	top: 270px;
	width: 100%;
	font: 12px Arial,sans-serif;
	color: #000;
	text-align: center;
	position: absolute;
}

#play {
	top: 270px;
	left: 50%;
	width: 100px;
	font-size: 24px;
	margin-left: -50px;
	position: absolute;
}

#play[disabled] {
	display: none;
}

/* Sections list */
.bList {
	font-size: 0;
	margin: 10px -15px;
	padding: 0;
	display: block;
}

.bList__eItem {
	width: 25%;
	font: 12px/20px Arial,sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

.bList__eItem__eBorder {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 5px;
	padding: 10px;
	cursor: pointer;
}

.bList__eItem__eBorder:hover {
	background: #ddd;
}

.bList__eItem__mActive .bList__eItem__eBorder {
	background: #ccc;
}
/* Sections list */

/* Scenes controls */
.bVideo__eScenesControls {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	position: absolute;
}

.bVideo__eScenesControls__eScene {
	list-style: none;
	-webkit-transition: opacity 200ms ease-in-out;
	-moz-transition: opacity 200ms ease-in-out;
	-ms-transition: opacity 200ms ease-in-out;
	-o-transition: opacity 200ms ease-in-out;
	transition: opacity 200ms ease-in-out;
	opacity: 0;
	display: block;
}

.bVideo__eScenesControls__eScene__mActive {
	opacity: 1;
}

.bVideo__eScenesControls__eScene__mScene1 .bVideo__eSceneControl {
	top: 160px;
	right: 290px;
	position: absolute;
}

.bVideo__eScenesControls__eScene__mScene2 .bVideo__eSceneControl {
	top: 50px;
	right: 350px;
	position: absolute;
}
/* Scenes controls */