.bContainer {
	width: 1280px;
	margin: 0 auto;
	position: relative;
}

.bVideoContainer {
	position: relative;
}

.bVideoStream {
	position: absolute;
	z-index: -1;
}

.bSection {
	top: 0;
	left: 0;
	position: absolute;
}

.bControl {
	top: 680px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	position: absolute;
	display: none;
	z-index: 1;
}

#loading {
	top: 360px;
	width: 100%;
	font: 12px Arial,sans-serif;
	color: #fff;
	text-align: center;
	position: absolute;
}